@import "variable.styl"
@import "mixin.styl"

body, html
  height: 100%
  line-height: 1
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif
  user-select: none
  -webkit-tap-highlight-color: transparent
  background: $BgColor
  color: $CtColor

.ivu-layout-sider-children
  padding-bottom 48px
  overflow-y auto
  -webkit-overflow-scrolling: touch
.ivu-layout-sider-collapsed
  .ivu-layout-sider-children
    overflow-y inherit

.collapsed-menu
  .ivu-menu-submenu
    ul
      position absolute
      z-index 100
      background #fff
      left 100%
      top 0
      display none
      border solid 1px #ebebeb
      border-left none
      li
        border-top solid 1px #efefef
        &:first-child
          border-top none
    &:hover
      ul
        display block
  .ivu-menu-submenu-title
    span
      font-size 0
  .ivu-menu-submenu-title-icon
    font-size: 0

a
  color: inherit
